
.ti_fBox_icon{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #06c406;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}